<div class="progress">
   <div class="progress-bar" role="progressbar" aria-valuenow="calculateBarValue()" aria-valuemin="0" aria-valuemax="100" [style.width]="calculateBarValue() + '%'">
      <span class="sr-only">60% Complete</span>
   </div>
</div>
<div class="col-xs-12 no-padding">
   <div class="step-container">
         <div class="step row valign-wrapper">
            <div class="step-number-col col s12 valign-wrapper">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title"><span>{{ currentStep?.sequence }} </span>  {{ currentStep?.title }}  </h3>
                  </div>
               </div>
            </div>
         </div>
   </div>
   <div class="component-container">
         <ng-template appStepHost></ng-template>
   </div>

   <nav aria-label="...">
      <ul class="pager">
         <li *ngIf="currentStep?.editButtonText" class="previous"><a href="#" (click)="onPrevClick(currentStep?.sequence)"><span aria-hidden="true">&larr;</span> {{ currentStep?.editButtonText }}</a></li>
         <li class="next"><a href="#" (click)="onNextClick()">{{ currentStep?.nextButtonText }} <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
   </nav>
</div>